/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
}

.header {
  display: grid;
  background-image: var(--background-image);
  background-size: cover;
  position:relative;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--gap) var(--gap) var(--gap) 0;
}

.header::before {
  content: '';
  height: 25px;
  width: 25px;
  display:block;
  border-bottom: 1px solid var(--button-color);
  border-left: 1px solid var(--button-color);
  position: absolute;
  bottom: var(--gap);
  position: absolute;
  left: var(--gap);
}

.header::after {
  content: '';
  height: 25px;
  width: 25px;
  display:block;
  border-top: 1px solid var(--button-color);
  border-right: 1px solid var(--button-color);
  position: absolute;
  top: var(--gap);
  right: var(--gap);
}

.rec {
  display: var(--rec-display);
  text-transform: uppercase;
  position: absolute;
  color: var(--accent-color);
  font-family: 'IBM Plex Mono', sans-serif;
  top: var(--gap);
  right: calc(var(--gap) + 10px);
  font-size: 18px;
}

.rec::after {
  content: '';
  display: var(--rec-display);
  width: 9px;
  height:9px; 
  border-radius: 50%;
  background-color: #FF0070;
  box-shadow: 0 0 4px 2px #FF0070;
  margin-left: 10px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;

}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  border: 1px solid transparent;
  color: var(--button-color);
  font-size: 18px;
  font-family: 'IBM Plex Mono', sans-serif;
  width: 100%;
  cursor: pointer;
}

.header__theme-menu-item:has(.header__theme-menu-button_active) {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:focus {
  text-decoration: underline;
}

.main-title {
  color: var(--title-color);
  text-shadow: 4px 4px var(--accent-color);
  font-family: 'IBM Plex Mono', sans-serif;
  justify-self: start;
  grid-row-start: 2;
  grid-row-end: 3;
  line-height: 100%;
}

.subtitle {
  grid-row-start: 3;
  grid-row-end: 4;
  align-text: start;
  font-size: 18px;
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-family: 'IBM Plex Mono', sans-serif;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
  border: 1px solid transparent;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  border: 1px solid var(--text-color);
}



@media (width <768px) {
  
  .page {
    --gap: 10px;
  }
  
  .main-title {
    font-size: clamp(7.25rem, 5.0536rem + 9.9274vw, 9.8125rem);
  }

  .footer-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

}

@media (width >= 768px) {
  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .subtitle {
    inline-size: 50%;
  }

  .content-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap)
  }

  .content-columns {
    grid-column-start: 2;
    grid-column-end: 4;
    gap: 10px;
  }

  .double-title__content-section{
    display: grid;
    grid-template-rows: 23.4px auto;
  }
  

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .sunset__image {
    grid-column: span 2;
  }

  .ice-cream__image{
    grid-row: span 2;
  }

  .tape__image {
    grid-row: span 2;
  }

  .street__image {
    grid-column: span 2;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
}

@media (768px < width < 1024px) {
  .content-flow {
    grid-column-start: 1;
    grid-column-end: 4;
    gap: 10px;
  }

  .footer-title {
    font-size: clamp(7.5rem, 5.2934rem + 9.4148vw, 9.8125rem);
  }
}

@media (width >=1024px) {
  .header__theme-menu{
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-flow {
    grid-row-start: 2;
    gap: 10px;
  }
}

.content-section {
  padding: var(--gap);
}


.content__section-title {
  color: var(--heading-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
}

.content-title {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
}

.tip-title {
  grid-column-start: 2;
  grid-column-end: 4;
  line-height: 23.4px;
  height: 23.4px;
}

.content-text {
  color: var(--text-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
}

.thin-text {
    font-weight: 400;
}

.gallery {
  width: 100%;
  gap: var(--gap);
}

.gallery__section {
  padding: var(--gap);
}

.image {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: var(--title-color);
  font-family: 'IBM Plex Mono', sans-serif;
  text-shadow: 2px 2px var(--accent-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
}

